* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme:#e50914;
}

html, button, select {
  color: white;
}

.container .landing_background {
  background: url(./asset/img/landing_background.jpg);
  background-size: cover;
}
.container .landing_background .landing {
  border-bottom: 8px solid #222;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0, transparent 60%, rgba(0, 0, 0, 0.8));
}
.container .landing_background .landing .landing_header {
  padding: 24px 56px;
  margin-bottom: 140px;
  height: 84px;
  display: flex;
  justify-content: space-between;
}
.container .landing_background .landing .landing_header img {
  height: 36px;
}
.container .landing_background .landing .landing_header .login select {
  width: 110px;
  height: 34px;
  border: 1px solid white;
  border-radius: 2px;
  border: 1px solid white;
  background: transparent;
}
.container .landing_background .landing .landing_header .login button {
  margin-left: 32px;
  height: 34px;
  width: 84px;
  padding: 7px 17px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--theme);
  border: none;
}
.container .landing_background .landing .landing_main .text {
  text-align: center;
}
.container .landing_background .landing .landing_main .text h1 {
  font-size: 3.125rem;
}
.container .landing_background .landing .landing_main .text h2 {
  font-size: 1.625rem;
  margin: 16px;
}
.container .landing_background .landing .landing_main .text h3 {
  font-size: 1.2rem;
  margin: 14px 0 20px 0;
}
.container .landing_background .landing .landing_main form {
  display: flex;
  justify-content: center;
}
.container .landing_background .landing .landing_main form input {
  width: 448px;
  height: 60px;
  padding: 10px;
  font-size: 18px;
}
.container .landing_background .landing .landing_main form button {
  width: 212px;
  height: 60px;
  background-color: #e50914;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 26px;
}
.container .smallContent {
  padding: 70px 45px;
  height: 465px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #222;
}
.container .smallContent img {
  height: 100%;
}
.container .smallContent .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
  width: 548px;
}
.container .smallContent .text h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.container .smallContent .text h2 {
  font-size: 1.625rem;
  font-weight: 400;
}
.container .faq {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 45px;
}
.container .faq h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.container .faq .faq_block {
  background: #303030;
  padding: 0.8em 2.2em 0.8em 1.2em;
  margin-bottom: 5px;
  margin-left: 1.1em;
  height: 75px;
  width: 789px;
}/*# sourceMappingURL=style.css.map */